name: Flutter CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Flutter 3.35.7
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.7'

      - name: Install Dependencies
        run: flutter pub get

      - name: Run Tests
        run: flutter test

      - name: Build APK (Release)
        run: flutter build apk --release

      - name: Upload Release APK
        uses: actions/upload-artifact@v4
        with:
          name: release-apk
          path: build/app/outputs/flutter-apk/app-release.apk

      - name: upload release 
        uses: wzieba/Firebase-Distribution-GitHub-Action@v4
        with:
          appId: ${{ secrets.APP_ID}}
          serviceCredentialsFileContent: ${{secrets.GOOGLE}}
          groups: testers
          file: build/app/outputs/flutter-apk/app-release.apk


      